body{
    background-image: url("/static/images/bg.png");
}

#board-container {
    background-color:#0D3B66;
    border-radius: 10%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#page-title {
    font-family: 'Bitter', serif;
}

#link-text{
    background-color:#e8f3ff;
}

#main-container {
    background-color:white;
}

.circle {
    border-radius: 100%;
    padding-bottom: 100%;
}

.grey{
    background-color: white;
}

.red{
    background-color: #F95738;
}

.hover-red:hover{
    background-color: rgb(255, 141, 118);
}

.yellow{
    background-color:#F4D35E;
}

.hover-yellow:hover{
    background-color:rgb(255, 231, 144);
}

.blue{
    background-color:rgb(94, 202, 244);
}

.hover-blue:hover{
    background-color:rgb(175, 232, 255);
}

.pink{
    background-color:rgb(244, 94, 224);
}

.hover-pink:hover{
    background-color:rgb(255, 183, 245);
}

.black{
    background-color:black;
}

.hover-black:hover{
    background-color:rgb(150, 150, 150);
}

.orange{
    background-color:rgb(244, 149, 94);
}

.hover-orange:hover{
    background-color:rgb(255, 210, 184);
}